* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
  border-radius: 6px;
}

.images-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}
.btn {
  background-color: steelblue;
  color: #fff;
  border: none;
  padding: 0.5rem;
  width: 49.5%;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn:hover {
  opacity: 0.7;
}

.btn:focus {
  outline: none;
}
